
* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f6f8;
  margin: 0;
  padding: 0;
}


.container {
  max-width: 420px;
  margin: 60px auto;
  background: white;
  padding: 25px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


h1, h2 {
  text-align: center;
  margin-bottom: 20px;
}


form label {
  display: block;
  margin-top: 12px;
  font-weight: bold;
}

form input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  resize: none;
}

button {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background: #1976d2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #125aa3;
}


.card {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  background: #fafafa;
}


/* .pending {
  color: orange;
  font-weight: bold;
}

.accepted {
  color: green;
  font-weight: bold;
}

.rejected {
  color: red;
  font-weight: bold;
} */


.logout {
  background: #d32f2f;
}

.logout:hover {
  background: #b71c1c;
}
